<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->

<appSettings>
  <add key="gallaryimagepath" value="~/images/gallary/" />
  <add key="gallarythumbnailpath" value="~/images/gallarythumbnail/" />
  <add key="productcategoryactualpath" value="~/images/productcategory/actual/" />
  <add key="productcategorypath" value="~/images/productcategory/" />
  <add key="productactualpath" value="~/images/tours/actual/" />
  <add key="productpath" value="~/images/tours/" />
  <add key="productimagepath" value="~/images/products/" />
  <add key="blogimagepath" value="~/images/blog/" />
  <add key="productthumbnailpath" value="~/images/products/thumbnail/" />
  <add key="rooturl" value="https://www.indiatripplanners.com/" />
  <add key="logo" value="images/logo.png" />
  
  <add key="UserName" value="indiatripplanners" />
  <add key="companyname" value="indiatripplanners" />
  <add key="email" value="emsatsolution@gmail.com" />
  <add key="infoemail" value="emsatsolution@gmail.com" />
  <add key="bccemail" value="emsatsolution@gmail.com" />
  <add key="url" value="www.indiatripplanners.com" />
  <add key="sms_userId" value="lmia" />
  <add key="sms_pwd" value="kkkk" />
  <add key="sms_senderid" value="kkkk" />
  <add key="companyMobile" value="9999999999" />
  <add key="smtp_host" value="smtp.gmail.com" />
  <add key="smtp_username" value="securemailserverhosting@gmail.com" />
  <add key="smtp_pwd" value="zejvrzscuxmkrrvm" />
  <add key="smtp_DisplayName" value="The Riva Travels" />
</appSettings>


